node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store


.bash_history
.bash_logout
.bash_profile
.bashrc 
.config/
.forever/
.mysql_history
.node_repl_history
.npm/
.nvm/
.pm2/
.ssh/
mysql57-community-release-el7-11.noarch.rpm
mysql57-community-release-el7-11.noarch.rpm.1
nohup.out
